@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  margin: 0 10px 10px;
}
.ticket{
  min-height: 100px;
  padding: 10px 10px;
  margin: 20px 0px;
  background: #fafafa;
}
.ticket_title{
  padding: 10px 10px;
  margin: 0px 0px;
}
.price{
  color: #1890ff;
  font-size:large;
}

.time{
  text-align: center;
  color: #1890ff;
  font-size:x-large;
  margin: 10px 0px 0 0;
}

.airports{
  font-size: small;
}

.duration{
  text-align: center;
  font-size: x-small;
}

.ontime{
  color: #52c41a;
}

.delayed{
  color: #f5222d;
}
.in_progress{
  color: #1890ff;
}